* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    height: 50px;
    background-color: snow;
    font-weight: bold;
    padding: 20px;

}

#divMain {
    padding: 20px;
}

#scoreboard {
    width: 300px;
    margin-top: 20px;
    padding: 10px;

    border: 2px solid black;

    text-align: center;
}

button {
    margin: 5px;
    padding: 2px 10px;
}